.invite-user {
    max-width: 1260px;
    width: 90%;
    margin: auto;
}
.table-card table {
    min-width: 1100px;
}
.table-header {
    display: flex;
    align-items: center;
    margin: 0 auto 20px;
    flex-flow: wrap;
}
.table-header button {
    padding: 0 26px;
}
.search-icon {
    margin-left: -34px;
    margin-top: 30px;
    cursor: pointer;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
}
.margin-left-auto {
    margin-left: auto;
    margin-top: 30px;
}
.search-column {
    height: 36px;
    flex: 1;
}
.filter-icon {
    margin-right: 30px;
    margin-left: 10px;
    cursor: pointer;
    padding: 0 !important;
}
.search-for-list {
    height: 36px;
    width: 283px;
    border-radius: 3px;
    border: 0px;
    padding-left: 16px;
    font-size: 14px;
    margin-top: 30px;
    &:focus {
        outline: 0px;
    }
}

.invite-email {
    width: 360px;
    max-width: 360px;
    min-width: 360px;
}
.invite-by {
    width: 220px;
    max-width: 220px;
    min-width: 220px;
}

.table-card table {
    min-width: 1100px;
}

.empty-data-box {
    min-height: calc(100% - 90px)
}