.clients-main {
    max-width: 1260px;
    width: 90%;
    margin: auto;
}
.table-header {
    display: flex;
    align-items: center;
    flex-flow: wrap;
}
.table-header button {
    padding: 0 26px;
}
.search-icon {
    margin-left: -34px;
    margin-top: 30px;
    cursor: pointer;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
}
.margin-left-auto {
    margin-left: auto;
    margin-top: 30px;
}
.search-column {
    height: 36px;
    flex: 1;
}
.filter-icon {
    margin-right: 30px;
    margin-left: 10px;
    cursor: pointer;
    padding: 0 !important;
}
.search-for-list {
    height: 36px;
    width: 283px;
    border-radius: 3px;
    border: 0px;
    padding-left: 16px;
    font-size: 14px;
    margin-top: 30px;
    &:focus {
      outline: 0px;
    }
}
.client-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    display: table;
    background-color: #e9eef0;
}
.client-name {
    width: 180px;
    max-width: 180px;
    min-width: 180px;
}
.client-email {
    width: 280px;
    max-width: 280px;
    min-width: 280px;
}
.client-phn {
    width: 170px;
    max-width: 170px;
    min-width: 170px;
}
.client-status {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}
.table-card table {
    min-width: 870px;
}
.empty-data-box {
    min-height: calc(100% - 90px)
}