.details-main {
    width: max-content;
    max-width: 90%;
}
.details-main h3 {
    font-weight: 500;
    line-height: 28px;
    padding: 4px 10px 4px 0;
    max-width: calc(100% - 120px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.salon-info-head {
    flex-flow: wrap;
}
.details-section {
    padding: 35px;
    @media screen and (max-width: 450px){
        padding: 28px;
    }
}
.form-heading {
    font-weight: 500;
}
.details-labels {
    font-weight: 500;
    letter-spacing: 0.35px;
    line-height: 22px;
    min-width: 150px;
    display: inline-block;
}
.details-cont {
    letter-spacing: 0.4px;
    line-height: 22px;
    word-break: break-all;
}
.user-details {
    justify-content: space-between;
    flex-flow: wrap-reverse;
}
.user-details img {
    height: 120px;
    width: 120px;
    border-radius: 4px;
    object-fit: cover;
}
.color-half-input {
    width: calc(50% - 8px);
}
.salon-picker {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    box-sizing: border-box;
    border-width: 5px;
    border-style: solid;
    box-shadow: 0 0 0 1px #000;
    border-color: #FFFFFF;
}
.upload-sec {
    display: inline-flex;
    flex-flow: wrap;
}
.upload-image {
    width:130px;
    height: 130px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}
.img-resp, .vid-resp {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.details-block {
    margin-right: 50px;
}
.no-show {
    margin: 150px auto 0;
}
.picker::after {
    content: '';
    display: block;
    clear: both;
}
.empty-avatar {
    border-radius: 4px;
    border-width: 1px;
    border-style: dotted;
    height: 120px;
    width: 120px;
    img {
        width: 50%;
        height: 50%;
    }
}