.notes-main-block {
    max-width: 700px;
    width: 90%;
    button {
        margin-top: -66px;
    }
}
.notes-card {
    padding: 20px 20px 40px;
    h4 {
        line-height: 19px;
        flex: 1;
    }
    svg {
        visibility: hidden;
    }
    &:hover svg {
        visibility: visible;
    }
}
.note-icon:hover path {
    fill: #8ba6b9;
}
.notes-content {
    line-height: 23px;
    max-height: 70px;
    margin-top: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.notes-paginator {
    background: none;
    line-height: 16px;
    letter-spacing: 1px;
}