<form *ngIf="!showSuccess" [formGroup]="resetForm" >  
  <h3 class="heading-bold f-28 mb-auto-30">Set Password</h3>
  <p class="login-para f-14 mb-auto-40">Please enter your new password to Login.</p>
  
  <div *ngIf="responseMessage" class="error-block f-14 mb-auto-20">
    {{responseMessage}} <img (click)="emptyResponseMessage()" alt="reset" class="m-0" src="../../../assets/errorClose.svg">
  </div>

  <mat-form-field class="w-100 mb-auto-20" appearance="outline">
    <mat-label class="input-label">New Password</mat-label>
    <input (input)="onPasswordInput()" formControlName="password" placeholder="Password" value="" matInput type="password">
    <mat-error *ngIf="password.hasError('required')">New password is mandatory </mat-error>
    <mat-error *ngIf="password.hasError('minlength')">Password must have at least 8 characters</mat-error>
  </mat-form-field>


  <mat-form-field class="w-100 mb-auto-20" appearance="outline">
    <mat-label class="input-label">Confirm Password</mat-label>
    <input (input)="onPasswordInput()" formControlName="confirmPassword" placeholder="Confirm Password" value="" matInput type="password">
    <mat-error *ngIf="confirmPassword.hasError('required')">Confirm Password is mandatory</mat-error>
    <mat-error *ngIf="confirmPassword.invalid && !confirmPassword.hasError('required')">Passwords don't match
    </mat-error>

  </mat-form-field>

  <button type="submit" (click)="onSubmit()" class="auth-button-90 m-auto d-block btn-shadow fw-400" mat-flat-button color="primary">
    <mat-spinner *ngIf="isSubmitted" class="auth-spinner" strokeWidth="3" diameter='30'></mat-spinner>
    <span *ngIf="!isSubmitted">CONFIRM</span>
  </button>
</form>


<div *ngIf="showSuccess">
  <img class="success-icon" src="../../../assets/successIcon.svg" alt="reset">
  <h3 class="heading-bold f-28 mb-auto-30">Success!</h3>
  <p class="login-para f-14 mb-auto-40">Your password has been successfully reset</p>
  <button [routerLink]="['/login']" class="auth-button-80 m-auto d-block btn-shadow fw-400" mat-flat-button color="primary">
    <span>LOG IN</span>
  </button>
</div>