<h2 class="f-18 mb-24 filter-heading">Filter</h2>
   
<mat-form-field class="w-100" appearance="outline">
    <mat-label>State</mat-label>
    <input [(value)]="selectedState"  type="text" aria-label="Number" matInput (keyup)="searchState($event.target.value)"
        [matAutocomplete]="auto">
    <mat-autocomplete (optionSelected)="onSelectionChanged($event)" #auto="matAutocomplete">
        <mat-option *ngFor="let state of states" [id]="state.state_id" [value]="state.state_id">
            {{state.state_name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<mat-form-field class="w-100" appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select [(value)]="selectedStatus">
        <mat-option *ngFor="let status of statuses" [value]="status.id">{{status.value}}</mat-option>
    </mat-select>
</mat-form-field>

<div class="mb-auto-40">
    <button (click)="removeFilterData()" mat-dialog-close="clear" type="button" class="auth-button-80 fw-400" mat-button color="primary">CLEAR</button>
    <div class="f-right">
        <button [mat-dialog-close] type="button" class="auth-button-80 mr-10 fw-400" mat-button color="primary">CANCEL</button>
        <button mat-dialog-close="save" (click)="applyFilter()" type="submit" class="auth-button-80 fw-400" mat-flat-button color="primary">
            <mat-spinner *ngIf="false" class="auth-spinner" strokeWidth="3" diameter='30'></mat-spinner>
            <span>APPLY</span>
        </button>
    </div>
</div>

