<form *ngIf="!showSuccess" [formGroup]="forgotForm">
  <h3 class="heading-bold f-28 mb-auto-30">Forgot Password</h3>

  <div *ngIf="responseMessage" class="error-block f-14 mb-auto-20">
    {{responseMessage}} <img (click)="emptyResponseMessage()" class="m-0" alt="forgot-pw" src="../../../assets/errorClose.svg">
  </div>

  <p class="login-para f-14 mb-auto-40">Enter your registered email below to receive your password reset instructions.</p>

  <mat-form-field  class="w-100 mb-auto-20" appearance="outline">
    <mat-label>Email</mat-label>
    <input (keyup)="emptyResponseMessage()" formControlName="email" placeholder="Email" value="" matInput type="email">
    <mat-error *ngIf="!isSubmitted&&forgotForm.hasError('required','email')">Email is mandatory</mat-error>
    <mat-error *ngIf="!isSubmitted&&!forgotForm.hasError('required','email') && forgotForm.hasError('pattern','email')">
      Enter register email</mat-error>
  </mat-form-field>

  <div class="f-right flex">
    <button type="button" (click)="location.back()" class="auth-button-80 mr-10 fw-400" mat-button color="primary">CANCEL</button>
    <button (click)="onSubmit()" type="submit" class="auth-button-80 btn-shadow fw-400" mat-flat-button color="primary">
      <mat-spinner *ngIf="isSubmitted" class="auth-spinner" strokeWidth="3" diameter='30'></mat-spinner>
      <span *ngIf="!isSubmitted">SEND</span>
    </button>
  </div>

</form>

<div *ngIf="showSuccess">
  <img class="success-icon" src="../../../assets/successIcon.svg" alt="forgot-pw">
  <h3 class="heading-bold f-28 mb-auto-30">Success!</h3>
  <p class="login-para f-14 mb-auto-40">We have sent an email to <b> {{email}} </b> with the instructions to reset your account password. Please verify</p>
  <button [routerLink]="['/login']" class="auth-button-80 m-auto d-block btn-shadow fw-400" mat-flat-button color="primary">
    OK
  </button>
</div>