<form *ngIf="!isCallingNote" [formGroup]='noteFormGroup'>

    <div class="add-note-block mb-auto-30">
        <mat-card class="card-shadow">
            <div class="add-note-title f-16 mb-24"> {{cardTitle}} </div>

            <mat-form-field class="custom-textarea description-area w-100" appearance="outline">
                <mat-label>Notes</mat-label>
                <textarea matInput formControlName="note"></textarea>
            </mat-form-field>

            <mat-error class="pb-30 t-center"> {{responseMessage}} </mat-error>

            <div class="flex align-end">
                <button [disabled]='isAPICalling' type="button" (click)="onClickGoBack(buttonTitle)"
                    class="mr-10 fw-400" mat-button color="primary">CANCEL</button>
                <button *ngIf="isAPICalling ;else title" type="submit" class="btn-shadow fw-400" mat-flat-button
                    color="primary">
                    <mat-spinner class="auth-spinner" strokeWidth="3" diameter='30'>
                    </mat-spinner>
                </button>
                <ng-template #title>
                    <button type="submit" class="btn-shadow fw-400" (click)="submitNoteForm(buttonTitle)"
                        mat-flat-button color="primary">
                        {{buttonTitle}}
                    </button>
                </ng-template>
            </div>

        </mat-card>
    </div>

</form>
<mat-spinner *ngIf="isCallingNote" class="table-no-show" color="primary" strokeWidth="3" diameter='30'></mat-spinner>